{% extends 'base.html' %}

{% block head %}




    <div class="container-fluid">
        <h1>Search Product</h1>
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Enter"/>
        </form>
        <div class="row">
          <div class="col-3 bg-info">
            <h1>Amazon</h1>
            <div class="title_container"> 
                {% for elem_img, elem_title, elem_cost in context_amazon_info["data"] %}
                    <div class="amazon-grid-item">
                        <img src="{{ elem_img }}"/>
                        <h6>{{ elem_title }}</h6>
                        <h3>${{ elem_cost }}</h3>
                    </div>
                {% endfor %} 
            </div>
          </div>
          <div class="col-6 bg-success">
            <h1>Status</h1>
            <h6>Total Products Cost: </h6>
            <p>Amazon - </p><p>${{ total_amazon_cost }}</p>
            <p>Ebay - </p><p>${{ total_ebay_cost }}</p>
            <h6>Similar Name Products: </h6>
          </div>
          <div class="col-3 bg-info">
            <h1>Ebay</h1>
            <div class="title_container"> 
                {% for elem_title, elem_cost in context_ebay_info["data"] %}
                    <div class="ebay-grid-item">
                        <h6>{{ elem_title }}</h6>
                        <h3>{{ elem_cost }}</h3>
                    </div>
                {% endfor %} 
            </div>
          </div>
        </div>
    </div>


{% endblock %}

{% block body %}

{% endblock %}