{% extends 'base.html' %}

{% block head %}
<h1>Search Sells</h1>
<div>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Enter"/>
    </form>

    <div class="title_container">
        <h1>Amazon</h1> 
        <div>
            {% for elem_img, elem_title, elem_cost in context_amazon_info["data"] %}
                <img src="{{ elem_img }}"/>
                <h5>{{ elem_title }}</h5>
                <h5>{{ elem_cost }}</h5>
            {% endfor %} 
        </div> 
    </div>

</div>

{% endblock %}

{% block body %}

{% endblock %}